main {
    margin-top: 80px;
}

card-title {
    margin-bottom: 8px;
}
.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    margin: 2px;
}
.fa-download{
    cursor: pointer;
}
.card-footer > a{
    border: none;
    background: transparent;
    font-size: 1.6em;
}